body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: bold;
    color: red;
    background-color: gray;
}
ol{
    list-style: decimal;
}
ol li ul{
    list-style-type: circle;
    font-weight: bold;
}
.sub-list{
    list-style: square;
    font-style: italic;
    font-weight: normal;
}