body{
  background-color: yellow;
  font-family: Verdana;
  font-size: xx-large;
  color: white;
  /* Standardeinstellungen des Browsers umgehen und alle Abstände auf Null setzen: */
  margin : 0px;
  padding: 0px;
}

h1{
  color: black;
}
.orange{
  border: 20px solid orange ;
  width: 400px;
  height: 400px;
  margin: auto;
}

.rot, .gruen, .blau,.grau, .purple{
  width: 200px;
  height: 200px;
  float:left;
  
}

.rot{
  background-color: red;
  
 
}

.gruen{
  background-color: green;
  clear: both;
}

.blau{
  color: white;
  background-color: blue;
  
}



.grau{
  background-color: gray;
  
}

